

.ncolor{
background:#f3e6e3 ;
}

.ncolor2{
    background: #F08080;
}
.ncolor3{
   
    background: #B5A177;
}
.ncolor5{
   
    background: #F2E1BD;
}

.ncolor7{
    background: #F2C6BD;
}

.ncolor8{
    background: #E9F2BD;
}
.CLimiter{
    max-height: 100vh;
  }
  
  .Citem{
    width: 100%;
    height: auto;
  }
  
 